<h2>{{title}}</h2>

<div class="container-fluid">

  <div class="row">
    <div class="col-auto">
      <input class="form-control"
             ng-model="userName"
             type="text" />
    </div>
    <div class="col-auto">
      <button class="btn btn-primary"
              ng-click="onAddUser($event)">追加</button>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>一覧</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in users">
        <td>{{user}}</td>
      </tr>
    </tbody>
  </table>

</div>
